.App {
    height: 100vh;
    font-size: 1.75vh;
    font-weight: bolder;
}

.data-row {
    height: 33%
}

* {
    border: 1px solid green;
}


@media (min-width: 768px) {
    .App {
        font-size: 3.25vh;
    }

}